* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
}

body{
    height: 100%;
    width: 100%;
    background-color: yellowgreen; /*cambiar luego de tener todo*/
}

.header {
    width: 100%;
    background-color: #FFFFFF;
    display: inline-block;
}

/*para borrar el checkbox*/
#menu{
    visibility: hidden;
}
/*hamburguesa*/
.raya,
.raya::before,
.raya::after{
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 0.5px;
    opacity: 100%;
    background: #000;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

.raya{
    right: 0;
    cursor: pointer;
    top: 16px;
    margin-top: 16px;
    margin-right: 15px;
}

.raya::before{
    content: "";
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px)
}

.raya::after{
    content: "";
    transform: translateY(3px);
    -webkit-transform: translateY(3px)
}

/*animación con checked*/
#menu:checked ~ .raya{
 
    /* width: 0px; */
}

#menu:checked ~ .raya::before{
    transform: rotate(45deg);
    opacity: 1;
    rotate: transform(45deg) translate(0px);
    -webkit-rotate: transform(45deg) translate(0px);
    color: red;
}

#menu:checked ~ .raya::after{
    transform: rotate(-45deg);
    opacity: 1;
    rotate: transform(-45deg) translate(0px);
    -webkit-rotate: transform(-45deg) translate(0px);
    color: red;
}

/*AQUÍ ESTÁ EL MAIN*/
.main{
    width: 320px;
    height: 303px;
}

h1{
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 29px;
    margin-bottom: 16px;
    padding-right: 50px;
    padding-left: 16px;
}


h1 .tachado{
    text-decoration: line-through;
}

.main p.desktopP{
    display: none;
}

.main p.mobileP{
    visibility: visible;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 36px;
}
/* BOTÓN DE TOP */
/* .boton-top{
    cursor: pointer;
    width: 288px;
    height: 48px;
    margin: 0px 16px 24px 16px;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: 0px;
} */
.boton-top{
    text-decoration: none; /*no funciona y sigue apareciendo el underline*/
    cursor: pointer;
    width: 288px;
    height: 48px;
    margin: 0px 16px 24px 16px;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: 0px;
    padding: 16px 59px;
} 

.novedades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2 .pregunta{
    background-color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    /*FALTA DEFINIR EL PADDING*/
}


.boton-bot{
    text-decoration: none; /*no funciona y sigue apareciendo el underline*/
    cursor: pointer;
    width: 288px;
    height: 48px;
    margin: 0px 16px 24px 16px;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: 0px;
    padding: 13px 43px;
    margin-bottom: 67px;
} 

footer {
    width: 320px;
    height: 121px;
    display: block;
    padding: 24px 47px;
    margin: 8px;
    background-color: #FFFFFF;
}

.footer-text {
    display: flex;
    font-size: 17px;
    text-align: justify;
    padding-bottom: 16px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

footer li {
    list-style: none;
}


